* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #2b2b2a;
    width: 31.25rem; /* 500px / 16 = 31.25rem */
    height: 100%;
    border: none;
    border-radius: 1.25rem; /* 20px / 16 = 1.25rem */
}

.content {
    display: flex;
    border-bottom: 0.125rem solid grey; /* 2px / 16 = 0.125rem */
    padding: 1.25rem; /* 20px / 16 = 1.25rem */
    flex-direction: column;

    h2 {
        margin-bottom: 1rem;
    }

    .inputSec {
        display: flex;
        justify-content: space-between;
    }
}

.content.contentEdit {
    display: none;
}

.content input {
    font-size: 1.25rem; /* 20px / 16 = 1.25rem */
    border: none;
    outline: none;
    border-radius: 0.625rem; /* 10px / 16 = 0.625rem */
    padding: 0.3125rem 0.5rem; /* 5px 8px / 16 = 0.3125rem 0.5rem */
    color: #2b2b2a;
}

.content button {
    font-size: 1.25rem;
    color: #2b2b2a;
    background-color: aliceblue;
    padding: 0.3125rem;
    border-radius: 0.9375rem; /* 15px / 16 = 0.9375rem */
}

.list {
    display: flex;
    gap: 1.25rem; /* 20px / 16 = 1.25rem */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;  
    margin-top: 5rem;

    .tarefa {
        background-color: aliceblue;
        width: 100%;
        display: flex;
        padding: 0.3125rem;
        border-radius: 0.625rem;
        justify-content: flex-start;
        font-size: 1.25rem;
        text-transform: capitalize;
        position: relative;
        bottom: 4rem;
        align-items: center;

        p {
            color: #2b2b2a;
            font-size: 1.1rem;
            width: calc(100% - 70px);
        }
    }
}

.tarefa .botoes {
    display: flex;
    position: absolute;
    right: 0px;
   
}

.tarefa .check {
    i {
        color: greenyellow;
    }
}

.tarefa .remove {
    i {
        color: red;
    }
}

.tarefa .edit {
    i {
        color: blue;
    }
}

.tarefa.completed {
    text-decoration: line-through;
    background-color: #2b2b2a;
    border: 2px solid #fff;
    font-style: italic;

    p {
        color: #fff;
    }
}



@media (max-width: 37.5rem) { /* 600px */
    .container {
        max-width: 100vw;
        min-height: 40rem;
        padding: 1.2rem;
    }

    .content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
    }

    .content input {
        width: 100%;
        
    }

    .content button {
        width: 100%;
        font-size: 1.2rem;
    }

    

    .tarefa {
        align-items: center;
        
    }

    

}

/* Telas entre 600px e 900px (Tablet) */
@media (min-width: 37.5rem) and (max-width: 56.25rem) { /* 600px - 900px */
    .container {
        max-width: 70vw;
    }
}

/* Telas maiores que 900px (Desktop) */
@media (min-width: 56.25rem) { /* 900px+ */
    .container {
        max-width: 50rem;
    }
}

